div{
	height: 150px;
	width: 150px;
	background: red;
	margin: 10px;
}

#dos {
	position: absolute;
	background: blue;
}
#formu1{
	border-color: blue;
	border-width: 5px;
	padding: 30px;
	font-style: italic;
	text-decoration: underline;
}